* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    background-color: black;
}

/* logo navbar */

.navbar-expand-lg {
    background-color: black;
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.logo {
    color: white !important;
    height: 40px;
    padding-left: 5px;
    font-size: 25px;
    text-decoration: none !important;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    text-align: left;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
}

.navbar-nav li a:hover {
    color: white !important;
}

.navbar-nav li a:hover::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #906433;
    transition: width 0.25s ease-out;
}

.navbar-nav li a:hover::before {
    width: 100%;
}

.fa-bars-staggered {
    color: white;
    font-size: 25px !important;
}

.btn-outline {
    outline: white !important;
    background-color: #906433 !important;
    color: white !important;
}

/* end navbar */


/* start banner */

.banner {
    width: 100%;
    min-height: 100vh;
    display: flex;
    text-align: center;
    background-image: url(../imgs/banner.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: black;
    background-attachment: fixed;
}

.banner h1 {
    color: white;
    margin-bottom: 30px;
    letter-spacing: 5px;
}

@media (max-width: 767px) {
    .banner {
        text-align: center;

    }

    .banner h1 {
        font-size: 25px;
    }
}

/* end banner */

/* start section-1 */
.section-1 {
    display: flex;
    background-color: black;
    padding: 20px;

}

.section-1 .left-side {
    width: 80%;

}

.section-1 h5 {
    margin-left: 50px;
    color: #906433;
    font-weight: 500;
    letter-spacing: 1px;

}

.section-1 .underline-hover-effect {
    color: white;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: .25rem;
    margin-left: 40px;
    display: inline-block;
    position: relative;
    cursor: pointer;

}

.section-1 .underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: #906433;
    transition: width 0.25s ease-out;
}

.underline-hover-effect:hover::before {
    width: 100%;
}

.section-1 .lead {
    color: #906433;
    text-align: start;
    width: 600px;
}

.section-1 .right-side img {
    height: 400px;
    width: 300px;
}


.section-1 h5 span {
    margin-left: 50px;
    color: #906433;
    font-weight: 500;
    letter-spacing: 1.6px;
    float: right;
}

@media (max-width: 767px) {
    .section-1 .left-side {
        width: 100%;
    }

    .section-1 .lead {
        width: 100%;
        font-size: large;
        height: 200px;
        overflow: hidden;
    }

    .section-1 h5 {
        color: #906433;
        font-weight: 500;
        font-size: small;
        letter-spacing: normal;

    }

    .section-1 .underline-hover-effect {
        font-weight: 500;
        font-size: 25px;
    }

    .section-1 .right-side img {
        height: 250px;
        width: 150px;
    }

    .section-1 h5 span {
        font-size: large;
        letter-spacing: normal;
        margin-left: 5px;
        float: left;


    }
}

/* end section-1 */

/* start work */

.work {
    display: flex;
    background-color: black;
    margin-bottom: 50px;
}

.work .img {
    width: 50%;
    height: 100%;
    float: left;
    margin-right: 40px;

}

.work .img img {
    width: 400px;
    height: 100%;
    float: right;
}

.table {
    width: 50%;
    float: right;
}

.phone {
    color: white;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: .25rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: 30px;

}


.phone::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 2px;
    background-color: #906433;
    transition: width 0.25s ease-out;
}

.phone:hover::before {
    width: 100%;
}

.time {
    color: #906433;
}

.time span {
    float: right;
    margin-right: 20px;
}

@media (max-width: 767px) {

    .table {
        width: 100%;

    }

    .work .img img {
        width: 100%px;
        height: 100%;
    }

    .phone {
        color: white;
        font-weight: 500;
        font-size: 15px;
        padding-bottom: .25rem;
        display: inline-block;
        position: relative;
        cursor: pointer;
        margin-bottom: 30px;

    }

}

/* end work */

/* start section-2 */
.section-2 {
    background-color: black;
}

.cards-wrapper {
    display: flex;
}

.section-2 .title {
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-bottom: 50px;
    display: flex;
    position: relative;
    cursor: pointer;
    justify-content: center;
}

.section-2 .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: #906433;
    transition: width 0.25s ease-out;
}

.section-2 .title:hover::before {
    width: 50%;
}



.card {
    margin: 0 10px;
    width: calc(100% / 4);
    background-color: black;
    margin-bottom: 50px;
}


.img-wrapper {
    height: 22vw;
    margin: 0 auto;
}

.img-wrapper img {
    max-width: 100%;
    height: 100%;

}

.card-title {
    color: #906433;
    text-align: center;
    font-weight: 600px;
    font-size: 25px;
}

.card-text {
    color: white;
}

.btn {
    background-color: #906433;
    color: black;
    font-weight: 600px;
    font-size: 20px;
}

.btn:hover {
    color: black;
}

@media (max-width: 767px) {



    .card-title {
        font-weight: 500;
        font-size: small;
        height: 20px;
        overflow: hidden;
    }

    .card-text {
        font-size: small;
        height: 150px;
        overflow: hidden;
    }

    .card-body .btn {
        font-weight: 500px;
        font-size: small;
    }
}

/*   end section-2  */

/* start section-3 */

.section-3 {
    background-color: black;
    height: 100vh;
}

.section-3 .title {
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
    display: flex;
    position: relative;
    cursor: pointer;
    justify-content: center;
}

.section-3 .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: #906433;
    transition: width 0.25s ease-out;
}

.section-3 .title:hover::before {
    width: 50%;
}

.cards {
    background-color: black;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}


.cards .every-card {
    background-color: #906433;
    padding: 1.5rem;
    max-width: 30rem;
    border-radius: .5rem;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    animation: animate 15s infinite linear;
    animation-delay: calc(3s * var(--delay));
    cursor: pointer;
}

.profile,
.main {
    display: flex;
    align-items: center;
}

.every-card .main {
    justify-content: space-between;
}

.profile {
    margin-bottom: 1rem;

}

.profile .img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    background-color: #906433;
    box-shadow: 0 8px 24px #906433;

}

.profile .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile .details {
    margin-left: 10px;
}

.op-star {
    color: black;
    font-size: 1.1rem;
}

.outer:hover .every-card {
    animation-play-state: paused;
}

.cards .every-card:last-child {
    animation-delay: calc(-3s * var(--delay));
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(100%) scale(.5);
    }

    5%,
    20% {
        opacity: 0.4;
        transform: translateY(100%) scale(.7);
    }

    25%,
    40% {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0%) scale(1);
    }

    45%,
    60% {
        opacity: 0.4;
        transform: translateY(-100%) scale(.7);
    }

    65%,
    100% {
        opacity: 0;
        transform: translateY(-100%) scale(.7);
    }
}

@media (max-width: 467px) {
    .every-card {
        font-size: 10px;
        padding: .25rem !important;
        margin: .25rem;
    }

}

/* end section-3 */